
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: green;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
h2 {
    text-align: center;
    color: #007BFF;
}
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #007BFF;
    color: #fff;
}

input[type="number"] {
    width: 100%;
    box-sizing: border-box;
}

.totals, .total-a-percibir {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.totals div, .total-a-percibir {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
}

.totals div:last-child, .total-a-percibir {
    margin-right: 0;
}

.total-a-percibir {
    justify-content: flex-end;
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    display: block;
    width: 20%;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

span {
    display: inline-block;
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}
